/* raleway-regular - latin */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/raleway/raleway-v22-latin-regular.woff2") format("woff2"),
        url("../fonts/raleway/raleway-v22-latin-regular.woff") format("woff");
}
/* raleway-500 - latin */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/raleway/raleway-v22-latin-500.woff2") format("woff2"),
        url("../fonts/raleway/raleway-v22-latin-500.woff") format("woff");
}
/* raleway-600 - latin */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/raleway/raleway-v22-latin-600.woff2") format("woff2"),
        url("../fonts/raleway/raleway-v22-latin-600.woff") format("woff");
}
/* orelega-one-regular - latin */
@font-face {
    font-family: "Orelega One";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/orelega/orelega-one-v1-latin-regular.woff2") format("woff2"),
        url("../fonts/orelega/orelega-one-v1-latin-regular.woff") format("woff");
}
