@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Raleway:wght@300;400;500;600;700&display=swap");
$base-font: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$head-font: "Orelega One", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

$font-size: 16px;
$line-height: 24px;
$regular: 400;

$text-color: #fff;

$text: "#FFFFFF";
$text_dark: "#BCBABC";
$primary: "#252834";
$secondary: "#333746";
$accent: "#FFC15C";

body,
p {
  font-family: $base-font;
  font-size: $font-size;
  font-weight: $regular;
  line-height: $line-height;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $head-font;
  line-height: 100%;
  font-weight: $regular;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: $text-color;
  &:not(header a) {
    color: $primary;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $text-color;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
}
